# Different deployment method:
# "docker_solo" -> running chatbot on docker with an external api-expansion
# "docker_with_expansion" -> running chatbot on docker with an integrated api-expansion

# ----- Global config -----
deployment_method="docker_with_expansion"

# # ----- Docker Global config ----- Ignore if running on local mode
rasa_x_version="0.37.1"
rasa_version="2.3.4"
custom_actions_image_name="rasa/rasa-actions-sdk"
custom_actions_image_version="1.0.0"

# # ----- Docker_solo config ----- Ignore if running on another mode
expansion_api_adress="myhost"  # todo

# ----- Docker_with_expansion config ----- Ignore if running on another mode
# See https://github.com/moreymat/fastapi-query-expansion to create expansion API image
expansion_api_image_name="fastapi-query-expansion"
expansion_api_image_version="1.0.0"

