# Different deployment method:
# "local" -> running chatbot in local mode
# "docker_solo" -> running chatbot on docker with an external api-expansion
# "docker_with_apis" -> running chatbot on docker with an integrated api for expansion and reranking

# ----- Any config -----
deployment_method="local"

expansion_api_host_name="127.0.0.1"
expansion_api_port=8001

reranking_api_host_name="127.0.0.1"
reranking_api_port=8002

# # ----- Docker Global config ----- Ignore if running on local mode
rasa_x_version="0.38.0"
rasa_version="2.3.4"
custom_actions_image_name="rasa/rasa-actions-sdk"
custom_actions_image_version="1.0.0"

# ----- Docker_with_api config ----- Ignore if running on another mode
# See https://github.com/moreymat/fastapi-query-expansion to create expansion API image
expansion_api_image_name="fastapi-query-expansion"
expansion_api_image_version="1.0.0"

# See https://github.com/moreymat/fastapi-search-reranking to create reranking API image
reranking_api_image_name="fastapi-search-reranking"
reranking_api_image_version="1.0.0"

# See https://github.com/moreymat/fastapi-lexical-resources to create lexical resources API image
lexical_resources_api_image_name="fastapi-lexical-resources"
lexical_resources_api_image_version="1.0.0"
